In [2]:
import pandas as pd

In [7]:
directory = './Olympics-Dataset-master/clean-data'

bios = pd.read_csv(f"{directory}/bios.csv")
results = pd.read_csv(f"{directory}/results.csv")
nocs = pd.read_csv(f"{directory}/noc_regions.csv")
pops = pd.read_csv(f"{directory}/populations.csv")

Exploratory data analysis

In [10]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

How many models does each counry won since 1896

In [11]:
medals = results[results['medal'].notna()]

In [13]:
medals.groupby(['noc'])['medal'].value_counts().loc['USA']

medal
Gold      2717
Silver    1806
Bronze    1472
Name: count, dtype: int64