In [2]:
import pandas as pd

In [7]:
directory = './Olympics-Dataset-master/clean-data'

bios = pd.read_csv(f"{directory}/bios.csv")
results = pd.read_csv(f"{directory}/results.csv")
nocs = pd.read_csv(f"{directory}/noc_regions.csv")
pops = pd.read_csv(f"{directory}/populations.csv")

Exploratory data analysis

In [10]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

How many models does each counry won since 1896

In [17]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [19]:
medals = results[results['medal'].notna()]
medals_filtered = medals.drop_duplicates(['year','type','discipline','noc','event','medal'])

In [20]:
medals_filtered.groupby(['noc'])['medal'].value_counts().loc['USA']

medal
Gold      1201
Silver     972
Bronze     859
Name: count, dtype: int64